@font-face {
font-family: 'Segoe UI Regular';
font-style: normal;
font-weight: normal;
src: local('Segoe UI Regular'), url('fonts/Segoe UI.woff') format('woff');}
@font-face {
font-family: 'Segoe UI Italic';
font-style: normal;
font-weight: normal;
src: local('Segoe UI Italic'), url('fonts/Segoe UI Italic.woff') format('woff');}
@font-face {
font-family: 'Segoe UI Bold';
font-style: normal;
font-weight: normal;
src: local('Segoe UI Bold'), url('fonts/Segoe UI Bold.woff') format('woff');}
@font-face {
font-family: 'Segoe UI Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Segoe UI Bold Italic'), url('fonts/Segoe UI Bold Italic.woff') format('woff');}
html {
  scroll-behavior: smooth;}
:root {
  --blue : #4bcaff;
  --gray : #69747b;
  --black : #353f46;}
.container {
  max-width: 1170px;}
body {
  font-family: "Segoe UI Regular", sans-serif;
  font-size: 14px;
  color: white;}
p {
  font-family: 'Segoe UI';
  font-size: 14px;}
.p-services {
  font-size: 12px;}
h2 {
  font-family: 'Segoe UI';
  font-size: 30px;
  position: relative;}
h3 {
  font-family: 'Segoe UI Bold';
  font-size: 24px;}
h2::after{
  content: "";
  width: 50px;
  height: 5px;
  border-bottom: 2px solid white;
  position: absolute;
  left: 0;
  bottom: -10px;}
.h-gray::after {
  border-bottom: 2px solid var(--gray);}
.p-twitter {
  font-size : 24px;}
.navbar {
  opacity: 0.8;
  height: 100px;}
.nav-blueasy:hover {
  color: var(--blue)!important;}
.nav-link:hover {
  color: var(--blue)!important;}
.active {
  border: 2px solid var(--blue);
  color: var(--blue)!important;}
.blue {
  color: var(--blue);}
.banner {
  background-image: url(images/blueasy.jpg);
  height: 800px;}
.bg-primary {
  background-color: var(--blue)!important;}
.text-gray {
  color: var(--gray);}
.bg-gray {
  background-color: var(--gray);}
.gallery:hover .overlay {
  opacity: 0.8;}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1rem;
  right: 0;
  height: 100%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--gray);}
.text-black {
  color : var(--black);}
.btn {
  border: 2px solid var(--black);
  font-size: 14px;}
.bgwho-is {
  background-image: url(images/banner-who.jpg);
  background-position: center;
  height: 500px;}
.bg-contact {
  background-image: url(images/banner-contact.jpg);
  height: 800px;}
.form-control {
  background-color: transparent;
  border: 1.5px solid white;
  height: 60px;}
label {
  font-size: 14px;}
.btn-message {
  background-color: var(--blue);
  color: white;
  border: none;}
footer a::after{
  content: "|";
  width: 2px;
  margin-left: 1rem;
  line-height: 30px;}
footer a.none::after{
  content: "";}
footer a {
  font-size: 12px;}
